Question 01

In [1]:
teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli","Root","Williaamson", "Smith"]

In [2]:
Answer01 = list(zip(teams,captains)) # use zip to  Concatenate lists index-wise

In [3]:
print(Answer01)

[('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]

In [4]:
Answer02 = dict(Answer01)

In [5]:
print(Answer02)

{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson', 'Aus': 'Smith'}

Question 02

In [6]:
books= ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantities = [3,2,1,4]

In [7]:
BookDet = list(zip(books,prices,quantities))

In [8]:
print(BookDet)

[('textbooks', 100, 3), ('exercise books', 60, 2), ('story book', 90, 1), ('drawing books', 70, 4)]

In [9]:
for x,y,z in BookDet:
    print("You bought",z," ",x, " for $",z*y)

You bought 3   textbooks  for $ 300
You bought 2   exercise books  for $ 120
You bought 1   story book  for $ 90
You bought 4   drawing books  for $ 280

Question 03

In [10]:
List01 = [2,4,6,8,10]

In [11]:
List02=[x+10 for x in List01]

In [12]:
List02

[12, 14, 16, 18, 20]

Question 04

In [13]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]

In [14]:
list2.reverse() # reverses list2
list3 = list(zip(list1,list2))

In [15]:
list3

[(10, 'Grapes'), (20, 'Oranges'), (30, 'Mangoes'), (40, 'Apples')]

Question 05

In [16]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [17]:
list1[2][1][2].append(sub_list[0])
list1[2][1][2].append(sub_list[1])
list1[2][1][2].append(sub_list[2])

In [18]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [19]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [20]:
list1[2][1][2].append(sub_list)

In [21]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

Question 06

In [22]:
List1= [10,15,20,15,32,54,15]
List1.index(15)
for x in List1:
    if x==15:
        del List1[List1.index(15)]

In [23]:
List1

[10, 20, 32, 54]

Question 07

In [24]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

In [25]:
dict_1.update(dict_2)

In [26]:
dict_1

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

Question 08

In [27]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
d[4] = d.pop(0)
print(d)

{1: 1, 2: 2, 3: 3, 4: 0}

Question 09

In [28]:
country=["USA","France","India"]
capital= ["Washington D.C.","Paris","New Delhi"]

In [29]:
Answer = list(zip(country,capital))
print(Answer)

[('USA', 'Washington D.C.'), ('France', 'Paris'), ('India', 'New Delhi')]

In [30]:
Answer = dict(Answer)

In [31]:
print(Answer)

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

Question 10

In [32]:
My_dict = {"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"}

In [33]:
del My_dict['Book']
del My_dict['Crystal']
print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

Question 11

In [3]:
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}

In [4]:
key_to_extract = {'math', 'chem','sci'}

In [5]:
extracted_key_value = {key:sub_dict[key] for key in key_to_extract}
extracted_key_value

{'chem': 98, 'math': 100, 'sci': 100}

Question 12

In [9]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [11]:
answer = [val for val in list1 if val%5==0]
print(answer)

[15, 55, 75, 150, 180, 200]

Question 13

In [12]:
 numbers = [12, 75, 150, 180, 145, 525, 50]

In [13]:
answer = []

for val in numbers:
    if val>500:
        break
    if val>150:
        continue
    if val%5==0:
        answer.append(val)

In [14]:
print(answer)

[75, 150, 145]

Question 14

In [16]:
Original_Substrings = "@W3Resource.Com"

In [19]:
upper_count =0
lower_count = 0
digit_count = 0
special_count = 0

for char in Original_Substrings:
    if char.isupper():
        upper_count += 1
    elif char.islower():
        lower_count += 1
    elif char.isdigit():
        digit_count += 1
    else:
        special_count += 1
        
        

print("Upper case characters: ",upper_count)
print("\n Lower case characters: ",lower_count)
print("\n Number case: ",digit_count)
print("\n Special case characters: ",special_count)

Upper case characters:  3

 Lower case characters:  9

 Number case:  1

 Special case characters:  2

Question 15

In [23]:
str_val = ""
val=0
n=5
for x in range(n):
    str_val = str_val +"2"
    val += int(str_val)
    
print(val)

24690